<nav class="navbar navbar-expand-lg navbar-dark bg-primary">

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Parametrage </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">        
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link" href="#">Societe</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/parametrage">Site</a>
                </li>
              </ul>
              </div>
              <div class="col-md-4">
                <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link" href="#">Entrepot</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Emplacement</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Fournisseur</a>
                </li>
              </ul>
              </div>
              <!-- /.col-md-4  -->
              <div class="col-md-4">
                <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link " href="#">Etat</a>
                    </li>
                    <li class="nav-item">
                       <a class="nav-link" href="#">Centrecout</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Categorie</a>
                    </li>
              </ul>
              </div>

            </div>
          </div>
          <!--  /.container  -->


        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Commande
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link" href="#">Demande</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Bon_commande</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Produit</a>
                </li>
              </ul>
              </div>
             
            </div>
          </div>
          <!--  /.container  -->


        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Movement
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link" href="#">Entree</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Sortie</a>
                </li>
              </ul>
              </div>
              
            </div>
          </div>
          <!--  /.container  -->


        </div>
      </li>

    </ul>
  </div>
</nav>
<router-outlet>

</router-outlet>